<h1>zcckarthikcorp Login</h1>
<div class="form">
<%= form_with url: "/auth/login", method: :post do |form| %>
  <%= form.label :email %><br>
  <%= form.text_field :email %> <br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <%= form.submit "Login" %>
</div>
<% end %>
